RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
Redirect 301 /kak_je_xochetsa_kanikuli /dnasjdnjdnjkadnjkasndasnjkfsdfff1
Redirect 301 /kak_je_xochetsa_kanikuli/0Y/RgtC10LHRj9C70Y7QsdC70Y4= /fsdanfjknbajkfndsajkfnasdfasdjl2
Redirect 301 /kak_je_xochetsa_kanikuli/0Y/RgtC10LHRj9C70Y7QsdC70Y4=/lalop /fsdwbhjqwdbqwndjwqdfdsfsdfsdfdsfsd3
