{% extends 'main/layout.html' %}

{% block title %} Про нас {% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Всем привет, Никита дебил, Денис дебил, Андрей дебил, Ваня дебил!</p>
        <button class="btn btn-danger">Просто нажми</button>
        <h1 class="text-white">Не обращай внимания на то что сайт не доделан, он немного "заброшен" =) <br>
            А вот кстати первое нормальное задание, с первым можно было справиться очень легко если вы с компа, а с телефон могли возникнуть трудности
            <br>
            Ладно вот задание: <br>
            ... кодовый замок, Какой же пароль?.. И ответ на этот вопрос вам даст следующий кусок url,
            но он не обработан, давайте этот ответ маленькими буквами без пробелов в base64, а вот что такое base64 узнайте сами =)
        </h1>

    </div>
{% endblock %}